<div class="grid-child d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-4">Admin View</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href={{ url_for("admin_view") }} {% if active_page=="home_page" : %} class="nav-link active"
        aria-current="page" {% else %} class="nav-link link-body-emphasis" {% endif %}>
        <i class="fas fa-user-shield"></i> Admin Home
      </a>
    </li>
    <li>
      <a href={{ url_for("edit_users") }} {% if active_page=="users_page" : %} class="nav-link active"
        aria-current="page" {% else %} class="nav-link link-body-emphasis" {% endif %}>
        <i class="fas fa-users"></i> Manage Users
      </a>
    </li>
    <li>
      <a href={{ url_for("edit_cafes") }} {% if active_page=="cafes_page" : %} class="nav-link active"
        aria-current="page" {% else %} class="nav-link link-body-emphasis" {% endif %}>
        <i class="fas fa-store-alt"></i> Manage Coffee Shops
      </a>
    </li>
  </ul>
</div>
