{% include "header.html" %}

<body>
  <div class="container col-xxl-8 px-4 py-1">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ cafe.img_url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ cafe.name }}</h1>
        <p class="lead">{{ cafe.location }} </p>
        <p class="lead"><a href={{ cafe.map_url }}>Find on Google Maps</a></p>
        {% if cafe.deleted%}
        <p style="color:red"><b> This cafe has closed. </b> </p>
        {% elif cafe.potentially_closed %}
        <p><em> Our community has flagged that this cafe may be closed </em> </p>
        {% endif %}
        <p>{% if cafe.has_wifi %}<i class='fas fa-wifi'> </i> Wifi Available {% else %} <i
            class="fa-solid fa-link-slash"></i> No Wifi {% endif %}</p>
        <p>{% if cafe.has_sockets %}<i class='fas fa-plug'> </i> Sockets Available {% else %} <i
            class="fa-solid fa-plug-circle-xmark"></i>No Sockets
          {% endif %}
        </p>
        <p>{% if cafe.can_take_calls %}<i class='fas fa-phone'> </i> Phone-call Friendly {% else %} <i
            class="fa-solid fa-phone-slash"></i> No Phone Calls {%
          endif %}</p>
        <p>{% if cafe.has_toilet %}<i class='fas fa-toilet'> </i> Washroom Available {% else %} <i
            class="fas fa-toilet-paper-slash"> </i> No Washrooms {% endif %}</p>
        <p> {{ cafe.seats }} seats </p>
        <p> {{ cafe.coffee_price }} for a coffee</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
      <a class="my-1" style="color:darkred" href={{ url_for("report_closure", cafe_id=cafe.id) }}>
        <p class="text-end"><i class="fas fa-times-circle "></i> report closure</p>
      </a>
    </div>
  </div>
</body>


{% include "footer.html" %}
